<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Data</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="header">
        <h1>Trip Data</h1>
    </div>
    <div class="container">
        <div class="nav">
            <a href="/trips/feb">February Trips</a>
            <a href="/trips/mar">March Trips</a>
            <a href="/trips/feb/duration">February Trip Duration</a>
            <a href="/trips/mar/duration">March Trip Duration</a>
            <a href="/trips/hourly">March Trips Hourly</a>
        </div>
    </div>
</body>
</html>
